*{
	padding: 0;
	margin: 0;
}

header{
	width: 100%;
	height: 80px;
	background-color: #9B59B6;
	text-align: center;
}
ul li {
	display: inline-flex;
}

article {
	display: inline-block;
}

img {
	height: 200px;
	width: 200px;
}